streamlit
langchain-google-genai
langchain
langchain-community
faiss-cpu
pypdf
python-dotenv
streamlit-audiorecorder
streamlit
pymongo
python-dotenv
bcrypt
langchain
langchain-community
langchain-google-genai
langchain-huggingface
faiss-cpu
PyPDF2           
SpeechRecognition
gTTS
